.container {
  margin: 20px;
}

.list {
  list-style: none;
  padding: 0;
}

.item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
}

.header {
  font-size: 18px;
  margin-bottom: 10px;
}

.text {
  font-size: 16px;
  line-height: 1.5;
}

.Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
